
<div id="particles-js">

  <nav class="nav-class">
    <%- partial ('nav.ejs') %>
  </nav>

  <div id="index">
    <%- partial ('index/title.ejs') %>
  </div>

  <div id="portfolio-container">
    <%- partial ('portfolio/content.ejs') %>
  </div>

</div>

