
<div id="particles-js">

  <div ng-controller="PageController as pgCtrl">


    <index ng-show="pgCtrl.isSelected(0)"></index>


    <portfolio-container ng-show="pgCtrl.isSelected(1)"></portfolio-container>
  </div>

  <arrows></arrows>

</div>

