
<div id="particles-js">

  <div ng-controller="PageController as pgCtrl">
    <site-navigation></site-navigation>

  <div id="index" ng-init="page=0">
    <%- partial ('index/title.ejs') %>
  </div>

  <div id="portfolio-container">
    <%- partial ('portfolio/content.ejs') %>
  </div>

</div>

