<!DOCTYPE>
<html>
    <head></head>
    <body>
        <div id="particles-js">
        <nav>
            <div id="portfolio">
                <p class="nav-class">Portfolio</p>
            </div>
            <div id="about">
                <p class="nav-class">About</p>
            </div>
            <div id="client">
                <p class="nav-class">Client</p>
            </div>
            <div id="fun">
                <p class="nav-class">Fun</p>
            </div>
        </nav>

        <div id="weckel">
            <p id="weckel-text">Weckel.</p>
        </div>
    </body>
</html>
