    <div id="portfolio" ng-class="{ active:page === 1 }">
        <a href ng-click="page = 1">Portfolio</a>
    </div>

    <div id="about">
        <p>About</p>
    </div>

    <div id="client">
        <p>Client</p>
    </div>

    <div id="fun">
        <p>Fun</p>
    </div>
