<img class= "content-full-film" ng-src="{{dumbo.project.images[0].full[0]}}"/>

<h1>{{dumbo.project.title}}</h1>
<hr/>

<a class="no-style" href="{{dumbo.project.video_url}}" target="_blank">
  <div class="btn">
    <p>Watch the Film</p>
  </div>
</a>

<p>Crossing Dumbo is a web series chronicling the awesome people of DUMBO. I am still waiting for the episode about me. </p>

<p>Position: Director</p>

<img class= "content-full-film" ng-src="{{dumbo.project.images[0].full[1]}}"/>
<img class= "content-full-film" ng-src="{{dumbo.project.images[0].full[2]}}"/>

<footer id="empty">
</footer>