<img class= "content-full-film" ng-src="{{ferrari.project.images[0].full[0]}}"/>

<h1>{{ferrari.project.full_title}}</h1>

<hr></hr>

<a class="no-style" href="{{ferrari.project.video_url}}">
  <div class="btn">
    <p>Watch the Film</p>
  </div>
</a>

<p>Killer short film commissioned by popular website Gear Patrol and produced by LonelyLeap Digital Creative Agency.</p>

<p>Position: Film Editor</p>

<img class= "content-full-film" ng-src="{{ferrari.project.images[0].full[1]}}"/>
<img class= "content-full-film" ng-src="{{ferrari.project.images[0].full[2]}}"/>

<footer id="empty">
</footer>
