<img class= "content-full-development" ng-src="{{food.project.images[0].full[0]}}"/>

<h1>{{food.project.title}}</h1>
<hr/>

<div class="two-buttons">
  <a href="{{food.project.url}}">
    <div class="btn-a">
      <p>Visit The Site</p>
    </div>
  </a>

  <a href="{{food.project.github}}">
    <div class="btn-b">
      <p>Peep the code</p>
    </div>
  </a>
</div>

<p>A social network of Devbootcamp students that rate and suggest local restaurants. Like Yelp, but not really, but kind of.</p>

<p>Position: Full Stack Developer</p>

<img class= "content-full-development" ng-src="{{food.project.images[0].full[1]}}"/>
<img class= "content-full-development" ng-src="{{food.project.images[0].full[2]}}"/>

<footer id="sidebar">
  <p>Technologies Used:</p>
  <p>Javascript, HTML, CSS, Sinatra, Bootstrap</p>
</footer>