<img class= "content-full-film" ng-src="{{wearable.project.images[0].full[0]}}"/>

<h1>{{wearable.project.title}}</h1>
<hr/>

<a class="no-style" href="{{wearable.project.video_url}}" target="_blank">
  <div class="btn">
    <p>Watch the Film</p>
  </div>
</a>

<p>Episode one of the "Make It Wearable" series from Intel and The Creators' Project over at VICE. One of the biggest inspirations on me joining a bootcamp and committing to a career in tech.</p>

<p>Position: Film Editor</p>

<img class= "content-full-film" ng-src="{{wearable.project.images[0].full[1]}}"/>
<img class= "content-full-film" ng-src="{{wearable.project.images[0].full[2]}}"/>

<footer id="empty">
</footer>