<img class= "content-full-film" ng-src="{{youtube.project.images[0].full[0]}}"/>

<h1>{{youtube.project.title}}</h1>

<hr></hr>

<a class="no-style" href="{{youtube.project.video_url}}" target="_blank">
  <div class="btn">
    <p>Watch the Film</p>
  </div>
</a>

<p>Behind the Scenes at the YouTube Music Awards. Skip to 11:44 to see Jason Schwartzman pull an etch-a-sketch out of his nether region.</p>

<p>Position: Film Editor</p>

<img class= "content-full-film" ng-src="{{youtube.project.images[0].full[1]}}"/>
<img class= "content-full-film" ng-src="{{youtube.project.images[0].full[2]}}"/>

<footer id="empty">
</footer>

