/*NAVIGATION start*/

$nav-items: portfolio about client fun;
$link_color: #000;

site-navigation{
  color: $link_color;
  font-size: 2em;

  a{
    color: $link_color;
    text-decoration: none;
  }
}

@each $nav-item in $nav-items{
  ##{$nav-item}{
    position: absolute;
  }
}

@mixin nav-pos($side_1,$pos_1,$side_2,$pos_2){
  #{$side_1}: $pos_1;
  #{$side_2}: $pos_2;
}

@mixin nav-trans($x, $y, $deg:0){
  transform: translate($x, $y) rotate(#{$deg}deg);
}

#fun{
  @include nav-pos(top, 0, left, 50%);
  @include nav-trans(-50%,0,-180);
}

#about{
  @include nav-pos(top, 50%, right, 0);
  @include nav-trans(0,-50%,-90);
}

#client{
  @include nav-pos(top, 50%, left, 0);
  @include nav-trans(0,-50%,90);
}

#portfolio{
  @include nav-pos(bottom, 2.5%, right, 50%);
  @include nav-trans(50%,0);
}

/*NAVIGATION END*/