/*PORTFOLIO*/
$port_width: 745px;
$port_hide: -600px;
$port_show: 15%;

.page-portfolio {
  position: absolute;
  width: $port_width;
  top: 15%;
  left: 50%;
  margin-left: -367.5px;
}

#portfolio-container{
  @extend .page-portfolio;
  &.slide{
    left: 10%;
    @include trans(0.3s);
  }
}


.page-portfolio.ng-enter, .page-portfolio.ng-leave {
  position:absolute;
  @include trans($trans_speed linear all);
}

.page-portfolio.ng-enter {
  z-index:100;
  top: $port_hide;
  opacity:0;
}
.page-portfolio.ng-enter.ng-enter-active {
  top: $port_show;
  opacity:1;
}

.page-portfolio.ng-leave {
  @extend .page-portfolio.ng-enter.ng-enter-active;
  z-index: 101;
}

.page-portfolio.ng-leave.ng-leave-active {
  @extend .page-portfolio.ng-enter;
  z-index: 0;
}

/*sidebar*/
#sidebar-wrapper{
  position: fixed;
  top: 0;
  right: 0;
}

$sidebar-grey: rgba(189, 189, 189, 0.7);

project-sidebar{
  width: 450px;
  position: relative;
  right:-100%;
  height: 100vh;
  overflow: scroll;
  float: right;
  background-color: #fff;
  text-align: center;
  // border-left: 1px solid black;
  box-shadow: inset 10px -1px 22px -8px;;
  // background-image: linear-gradient(45deg, $sidebar-grey 25%, transparent 25%, transparent 75%, $sidebar-grey 75%, $sidebar-grey),
  // linear-gradient(45deg, $sidebar-grey 25%, transparent 25%, transparent 75%, $sidebar-grey 75%, $sidebar-grey);
  // background-size:60px 60px;
  // background-position:0 0, 30px 30px;
}

project-sidebar.active{
  @include trans(0.3s linear all);
  right:0;
}

project-sidebar h1{
  font-size: 1.5em;
  margin: 50px;
  line-height: 25px;
}

project-sidebar p{
  margin: 50px 20px 0 20px;
}



//images
.content-full-film{
  border: #000 1px solid;
  margin-top: 50px;
}

.content-full-development{
  margin-top: 50px;
}


$btn-height: 50px;
$btn-bg: rgba(255, 255, 255, 0.8);
$btn-color: #000;

.btn{
  width: 150px;
  height: $btn-height;
  background: $btn-bg;
  border: 1px #000 solid;
  color: $btn-color;
  margin: 0 auto;
  p{
    line-height: $btn-height;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
  }
}

.btn-a{
  @extend .btn;
  float: left;
  margin: 0 0 0 12.5%;
}

.btn-b{
  @extend .btn;
  float: right;
  margin: 0 12.5% 0 0;
}

.btn:hover{
  background: invert($btn-bg);
  color: invert($btn-color);
}

//footer
footer#sidebar{
  border: 1px solid #000;
  width: 85%;
  margin: 50px auto;
  p{
    margin: 10px;
  }
}

/*PORTFOLIO END*/