/*PORTFOLIO*/
$port_width: 745px;
$port_hide: -600px;
$port_show: 15%;

.page-portfolio {
  position: absolute;
  width: $port_width;
  top: 15%;
  left: 50%;
  margin-left: -367.5px;
}

#portfolio-container{
  @extend .page-portfolio;
  &.slide{
    left: 10%;
    @include trans(0.3s);
  }
}


.page-portfolio.ng-enter, .page-portfolio.ng-leave {
  position:absolute;
  @include trans($trans_speed linear all);
}

.page-portfolio.ng-enter {
  z-index:100;
  top: $port_hide;
  opacity:0;
}
.page-portfolio.ng-enter.ng-enter-active {
  top: $port_show;
  opacity:1;
}

.page-portfolio.ng-leave {
  @extend .page-portfolio.ng-enter.ng-enter-active;
  z-index: 101;
}

.page-portfolio.ng-leave.ng-leave-active {
  @extend .page-portfolio.ng-enter;
  z-index: 0;
}

/*sidebar*/
#sidebar-wrapper{
  position: fixed;
  top: 0;
  right: 0;
}

$sidebar-grey: rgba(189, 189, 189, 0.7);

project-sidebar{
  width: 450px;
  position: relative;
  right:-100%;
  height: 100vh;
  overflow: scroll;
  float: right;
  background-color: #fff;
  text-align: center;
  // border-left: 1px solid black;
  box-shadow: inset 10px -1px 22px -8px;;
  // background-image: linear-gradient(45deg, $sidebar-grey 25%, transparent 25%, transparent 75%, $sidebar-grey 75%, $sidebar-grey),
  // linear-gradient(45deg, $sidebar-grey 25%, transparent 25%, transparent 75%, $sidebar-grey 75%, $sidebar-grey);
  // background-size:60px 60px;
  // background-position:0 0, 30px 30px;
}

project-sidebar.active{
  @include trans(0.3s linear all);
  right:0;
}






/*PORTFOLIO END*/