/*PORTFOLIO*/
$port_width: 745px;
$port_hide: -600px;
$port_show: 15%;

.page-portfolio {
  position: absolute;
  width: $port_width;
  top: 15%;
  left: 50%;
  margin-left: -367.5px;
}

#portfolio-container{
  @extend .page-portfolio;
  &.slide{
    left: 30%;
    @include trans(0.3s);
  }
}


.page-portfolio.ng-enter, .page-portfolio.ng-leave {
  position:absolute;
  @include trans($trans_speed linear all);
}

.page-portfolio.ng-enter {
  z-index:100;
  top: $port_hide;
  opacity:0;
}
.page-portfolio.ng-enter.ng-enter-active {
  top: $port_show;
  opacity:1;
}

.page-portfolio.ng-leave {
  @extend .page-portfolio.ng-enter.ng-enter-active;
  z-index: 101;
}

.page-portfolio.ng-leave.ng-leave-active {
  @extend .page-portfolio.ng-enter;
  z-index: 0;
}

/*sidebar*/
#sidebar-wrapper{
  position: fixed;
  top: 0;
  right: 0;
}

project-sidebar{
  width: 450px;
  position: relative;
  right:-100%;
  height: auto;
  float: right;
  background: red;
}

project-sidebar.active{
  @include trans(0.3s linear all);
  right:0;
}






/*PORTFOLIO END*/