$font1: 'Hind';
$font2: 'Amatic SC';

html,body{
  margin:0;
  font-family: $font1, sans-serif;
  background-size: cover;
  background-color: #000;
}

canvas{
  display:block;
  vertical-align:bottom;
}

h3{
  font-family: $font2, cursive;
  font-weight: 400;
  font-size: 2em;
}


#particles-js{
  background: #000;
  position: fixed;
  width:100%;
    height:100%;
    top:0px;
    left:0px;
}

site-navigation{
  color: #fff;
  font-size: 2em;

  a{
    color: #fff;
    text-decoration: none;
  }
}

/*NAVIGATION start*/
#portfolio{
  position: absolute;
  left: 50%;
  top: 2.5%;
  transform: translate(-50%,0) rotate(-180deg);
}

#about{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0,-50%) rotate(-90deg);
}

#client{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0,-50%) rotate(90deg);
}

#fun{
  position: absolute;
  right:50%;
  bottom: 0;
  transform: translate(50%,0);
}

/*NAVIGATION END*/


#weckel{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#weckel-text{
  color: #fff;
  font-size: 3em;
  text-align: center;
}

.content-thumbs{
  border: 3px solid #fff;
  border-radius: 10px;
}

//PAGES BEGIN//

index{
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 3.6s ease;
  -moz-transition:    all 3.6s ease;
  -o-transition:      all 3.6s ease;
  opacity: 1;
}

// index .active{
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 100%;
// }

portfolio-container{
  width: 745px;
  position: absolute;
  top: 15%;
  margin-left: -367.5px;
  left: 50%;
  -webkit-transition: all 1.0s ease;
  -moz-transition:    all 1.0s ease;
  -o-transition:      all 1.0s ease;
}


#gallery{
  display: inline-block;
  margin: 0 20px 5px 0;
  overflow: hidden;
  position: relative;
}

#gallery:hover > .thumb-overlay{
  left:0;
}

#gallery .thumb-overlay{
  position: absolute;
  left: -100%;
  height: 135px;
  width: 235px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
  h3{
    width: 235px;
    text-align: center;
    vertical-align: middle;
    line-height: 135px;
    margin: 0;
  }
}

#gallery-container {
  div:nth-child(3n+3){
    margin-right: 0;
  }
  div:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}



// LINKS
.active a{
  color: #fcacac;
  -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  transition:1s;
}

//Arrows
#arrow-down{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 43.3px 25px 0 25px;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  margin-top: 2.5%;
  left: 50%;
  transform: translate(-50%,0);
}

#arrow-down:hover{
  cursor: pointer;
}

// Animate

.ng-enter, .ng-leave, .ng-show, .ng-hide{
  opacity: 0;
  top: -100%;
}