html,body{
  margin:0;
  font-family: 'Hind', sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  height:1200px;
  background:#b61924
}

/*body{
  background-color: #000;
  color: #fff;
}*/