
$font1: 'Hind';
$font2: 'Amatic SC';

html,body{
  margin:0;
  font-family: $font1, sans-serif;
  font-color: #000;
  background-size: cover;
  background-color: #fff;
}

canvas{
  display:block;
  vertical-align:bottom;
}

h3{
  font-family: $font2, cursive;
  font-weight: 400;
  font-size: 2em;
}

img{
max-width: 100%;
}


#particles-js{
  position: fixed;
  background: #fff;
  width:100%;
    height:100%;
    top:0px;
    left:0px;
}

#weckel{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#weckel-text{
  color: #000;
  font-size: 3em;
  text-align: center;
}

#mobile{
  visibility: hidden;
}

.content-thumbs{
  border: 3px solid #fff;
  border-radius: 10px;
}

#side-wrapper-homepage{
    visibility: hidden;
  }

//PAGES BEGIN//
/*INDEX*/
.index{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
}
.index.ng-enter, .index.ng-leave {
  position:absolute;
  @include trans($trans_speed linear all);
}

.index.ng-enter {
  z-index:100;
  bottom:-600px;
  opacity:0;
}
.index.ng-enter.ng-enter-active {
  opacity:1;
  bottom: 0;
}

.index.ng-leave {
  z-index:101;
  bottom: 0;
  opacity:1;
}
.index.ng-leave.ng-leave-active {
  bottom:-600px;
  opacity:0;
}
/*INDEX END*/

/*ABOUT*/
.page-about {
  position:absolute;
  width: 745px;
  height: 600px;
  top: 25%;
  margin-right: -367.5px;
  right: 50%;
  color: #fff;
}
.page-about.ng-enter, .page-about.ng-leave {
  @include trans($trans_speed linear all);
  position:absolute;
}

.page-about.ng-enter {
  z-index:100;
  right:-600px;
  opacity:0;
}
.page-about.ng-enter.ng-enter-active {
  right: 50%;
  opacity:1;
}

.page-about.ng-leave {
  z-index:101;
  right:50%;
  opacity:1;
}
.page-about.ng-leave.ng-leave-active {
  right:-600px;
  opacity:0;
}

#about-photo-container{
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);
}

#about-photo{
  background: url("/images/weckel.jpg");
  width:505px;
  height:282px;
  border: 3px solid #fff;
  border-radius: 5px;
}

#about-photo-container .photo-overlay{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 505px;
  height: 282px;
  border: 3px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
  #photo-text{
    margin: 15% auto;
    h3{
      text-align: center;
      line-height: 57px;
      margin: 0;
      color: #000;
    }
  }
}
#about-photo-container:hover > .photo-overlay{
  left: -100%;
}
/*ABOUT END*/

/*CLIENT*/

.page-client {
  position:absolute;
  width: 745px;
  height: 600px;
  top: 25%;
  margin-right: -367.5px;
  left: 50%;
  color: #fff;
}
.page-client.ng-enter, .page-client.ng-leave {
  @include trans($trans_speed linear all);
  position:absolute;
}

.page-client.ng-enter {
  z-index:100;
  left:-600px;
  opacity:0;
}
.page-client.ng-enter.ng-enter-active {
  left: 50%;
  opacity:1;
}

.page-client.ng-leave {
  z-index:101;
  left:50%;
  opacity:1;
}
.page-client.ng-leave.ng-leave-active {
  left:-600px;
  opacity:0;
}

#login-container{
  position: absolute;
  top: 100px;
  left: -30.5%;
}

// #login-form{
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%,-50%);
// }

#login-form > input{
  display: block;
  transform-origin:left top;
  margin: 20px;
  padding: 10px;
  width: 400px;
}

#login-submit{
  @extend .btn;

}

#login-submit > p{
  line-height: $btn-height;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

#login-submit:hover{
  background: invert($btn-bg);
  color: invert($btn-color);
}



/*CLIENT*/

/*FUN*/
#fun-container{
  position: absolute;
  top: 25%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.fun-client {
  position:absolute;
  width: 745px;
  height: 600px;
  top: 25%;
  margin-right: -367.5px;
  left: 50%;
  color: #000;
}

.fun-client.ng-enter, .fun-client.ng-leave {
  @include trans($trans_speed linear all);
  position:absolute;
}

.fun-client.ng-enter {
  z-index:100;
  top: 600px;
  opacity:0;
}
.fun-client.ng-enter.ng-enter-active {
  top:25%;
  opacity:1;
}

.fun-client.ng-leave {
  @extend .fun-client.ng-enter.ng-enter-active;
  z-index:101;
}
.fun-client.ng-leave.ng-leave-active {
  @extend .fun-client.ng-enter;
  z-index: 0;
}

/*FUN*/

#gallery{
  display: inline-block;
  margin: 0 20px 5px 0;
  overflow: hidden;
  position: relative;
}

#gallery:hover a .thumb-overlay{
  left:0;
  color: #000;
}

#gallery a .thumb-overlay{
  position: absolute;
  left: -100%;
  height: 135px;
  width: 235px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
  h3{
    width: 235px;
    text-align: center;
    vertical-align: middle;
    line-height: 135px;
    margin: 0;
  }
}

#gallery-container {
  div:nth-child(3n+3){
    margin-right: 0;
  }
}



// LINKS
.active a{
  color: #fcacac;
  -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  transition:1s;
}

//Arrows
#arrow-down{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 43.3px 25px 0 25px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  margin-top: 2.5%;
  bottom: 15%;
  transform: translate(-50%, 0);
}
#arrow-up{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 43.3px 25px;
  border-color: transparent transparent #000 transparent;
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%,0);
}

#arrow-down:hover{
  cursor: pointer;
}

#arrow-left{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 43.3px 25px 0;
  border-color: transparent #000 transparent transparent;
  position: absolute;
  top: 25%;
  left: -70%;
  transform: translateY(-25%);
}

#arrow-right{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 43.3px;
  border-color: transparent transparent transparent #000;
  position: absolute;
  top: 25%;
  right: -35%;
  transform: translateY(-25%);
}


/*ICONS*/

#icon-container{
  position: absolute;
  height: 60px;
  bottom: 35%;
  left: 47.5%;
  width: 603px;
  transform: translate(-50%,0);
}

.social-icons{
  margin: 0 auto;
  white-space: nowrap;
  overflow: auto;
  width: 602px;
  position: absolute;
  bottom: 0;
}

.social-icons > li{
  list-style: none;
  display: inline-block;
  height: 60px;
  width: 56px;
  float: left;
  margin-right: 30px;
}

.email{
  background: url("/images/icon-sprite.png") top left no-repeat;
  display: block;
  height: 54px;
  width: 56px;
}


.linkedin{
  background: url("/images/icon-sprite.png") top left no-repeat;
  display: block;
  height: 54px;
  width: 56px;
  background-position: -92px 0;
}

.github{
  background: url("/images/icon-sprite.png") top left no-repeat;
  display: block;
  height: 54px;
  width: 56px;
  background-position: -184px 0;
}

.vimeo{
  background: url("/images/icon-sprite.png") top left no-repeat;
  display: block;
  height: 54px;
  width: 56px;
  background-position: -271px 0;
}

.instagram{
  background: url("/images/icon-sprite.png") top left no-repeat;
  display: block;
  height: 54px;
  width: 56px;
  background-position: -360px 0;
}

.twitter{
  background: url("/images/icon-sprite.png") top left no-repeat;
  display: block;
  height: 54px;
  width: 56px;
  background-position: -447px 0;
}

.challenge-post{
  background: url("/images/icon-sprite.png") top left no-repeat;
  display: block;
  height: 54px;
  width: 56px;
  background-position: -542px 0;
}

/*Accents*/
hr{
  border-style: 1px solid #eee;
  width:65%;
  margin: 50px auto;
}

#clear{
  clear: both;
}

.no-style{
  text-decoration: none;
}

/*Media Queries*/
@media screen and (max-device-width: 375px) and (max-device-height: 667px)
{

  html,body{
    background: url("/images/crossword.png");
  }

  #weckel{
    position: relative;
    width: 375px;
    height: 100%;
    top: 75px;
    left: 50%;
    margin-left: -190px;
    margin-top: -75px;
    z-index: 1;
  }

  #particles-js{
    visibility: hidden;
}

  #weckel-text {
    font-size: 2em;
  }

.page-portfolio.ng-enter, .page-portfolio.ng-leave,
 {
   -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}

#arrow-up{
  visibility: hidden;
}

  #mobile{
    visibility: visible;
  }

  #gallery{
  display: block;
  margin: 0;
  // overflow: hidden;
   width: 375px;
    height: 100%;
    top: 50%;
    left: 50%;
    margin-left: -16.5%;
    margin-top: 0;
    z-index: 1;
}


  h1{
    font-size: 1em;
    text-align: center;
  }

  h2{
    font-size: 1.5em;
    text-align: center;
  }

  p{
    text-align: center;
  }

  hr{
    width: 65%;
    margin: 10px auto;
  }

  .content-full-film {
    border: #000 1px solid;
    margin:0;
  }

  site-navigation{
    font-size: 1.5em;
    visibility: hidden;
  }

  .page-portfolio{
    z-index: 99;
    // position: fixed;
  }

  #portfolio-container.slide{
    left:-50%;
  }

  project-sidebar{
    width: 375px;
    z-index: 100;
  }

  .index.ng-enter, .index.ng-leave {
    position:absolute;
    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
  }
}

// @media screen and (max-device-width: 375px) and (max-device-height: 667px)
// {
//    #weckel{
//     top: 7.5%;
//     width:50%;
//   }

//   #weckel-text {
//     font-size: 2em;
//   }

//   #mobile{
//     visibility: visible;
//     width: 75%;
//     position: absolute;
//     top: 10%;
//     left: 50%;
//     transform: translate(-50%,0);
//   }

//   h1{
//     font-size: 1em;
//     text-align: center;
//   }

//   h2{
//     font-size: 1.5em;
//     text-align: center;
//   }

//   p{
//     text-align: center;
//   }

//   hr{
//     width: 65%;
//     margin: 10px auto;
//   }

//   .content-full-film {
//     border: #000 1px solid;
//     margin:0;
//   }

//   site-navigation{
//     font-size: 1.5em;
//   }

//   #fun, #client{
//     visibility: hidden;
//   }
// }