html,body{
  margin:0;
  font-family: 'Hind', sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}

h3{
  font-family: "Amatic SC", cursive;
  font-weight: 400;
  font-size: 2em;
}

#particles-js{
  height: 100%;
  background: #000;
  position: relative;
  padding-bottom: 0;

}

site-navigation{
  color: #fff;
  font-size: 2em;

  a{
    color: #fff;
    text-decoration: none;
  }
}


#portfolio{
  position: absolute;
  top: 5%;
  left: 5%;
}

#about{
  position: absolute;
  top: 5%;
  right: 5%;
}

#client{
  position: absolute;
  bottom: 5%;
  left: 5%;
}

#fun{
  position: absolute;
  bottom: 5%;
  right: 5%;
}

#weckel{
  position: absolute;
  width: 400px;
  right: 0;
  left: 0;
  margin: 20% auto;
}

#weckel-text{
  color: #fff;
  font-size: 3em;
  text-align: center;
}

#portfolio{
  color: #fff;
}

.content-thumbs{
  border: 3px solid #fff;
  border-radius: 10px;
}

#portfolio-container{
  width: 745px;
  position: absolute;
  top: 15%;
  margin-left: -367.5px;
  left: 50%;
}



#gallery{
  display: inline-block;
  margin: 0 20px 5px 0;
}

#gallery .thumb-overlay{
  position: absolute;
  height: 135px;
  width: 235px;
  background-color: #fff;
  h3{
    width: 235px;
    text-align: center;
    vertical-align: middle;
    line-height: 135px;
    margin: 0;
    -webkit-transform:scale(1.5, 3);
    moz-transform:scale(1.5, 3);
    -ms-transform:scale(1.5, 3);
    -o-transform:scale(1.5, 3);
  }
}

#gallery-container {
  div:nth-child(3n+3){
    margin-right: 0;
  }
  div:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}



// LINKS
.active a{
  color: #fcacac;
  -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  transition:1s;
}