<div id="page-photo-container">
  <div id="about-photo-container">
    <div class="photo-overlay">
      <div id="photo-text">
        <h3>I tell stories with code.</h3>
        <h3>Sometimes, it makes my hair fall out.</h3>
    </div>
    </div>
    <figure id="about-photo"></figure>
  </div>

<div id="icon-container">
  <ul class="social-icons">
    <li>
      <a class="linkedin" href="https://www.linkedin.com/in/mattweckel"></a>
    </li>
    <li>
      <a class="github" href="https://github.com/mrweckel"></a>
    </li>
    <li>
      <a class="vimeo" href="https://vimeo.com/mattweckel"></a>
    </li>
    <li>
      <a class="instagram" href="https://instagram.com/mrweckel/"></a>
    </li>
    <li>
      <a class="twitter" href="https://twitter.com/mrweckelnyc"></a>
    </li>
  </ul>
</div>

<a href="#/" id="arrow-right" ></a>
</div>