<div id="close-mobile">
  <p>CLOSE</p>
</div>

<div id="project-mobile">

  <ferrari ng-show="contentCtrl.isSelected({{contentCtrl.projects[0].id}})"></ferrari>

  <food-finder ng-show="contentCtrl.isSelected({{contentCtrl.projects[1].id}})"></food-finder>

  <make-it-wearable ng-show="contentCtrl.isSelected({{contentCtrl.projects[2].id}})"></make-it-wearable>

  <mastermind ng-show="contentCtrl.isSelected({{contentCtrl.projects[3].id}})"></mastermind>

  <dreams ng-show="contentCtrl.isSelected({{contentCtrl.projects[4].id}})"></dreams>

  <static ng-show="contentCtrl.isSelected({{contentCtrl.projects[5].id}})"></static>

  <youtube ng-show="contentCtrl.isSelected({{contentCtrl.projects[6].id}})"></youtube>

  <pitchstart ng-show="contentCtrl.isSelected({{contentCtrl.projects[7].id}})"></pitchstart>

  <dumbo ng-show="contentCtrl.isSelected({{contentCtrl.projects[8].id}})"></dumbo>

</div>