<img class= "content-full-development" ng-src="{{pitchstart.project.images[0].full[0]}}"/>

<h1>{{pitchstart.project.title}}</h1>

<hr></hr>

<a class="no-style" href="{{pitchstart.project.github}}" target="_blank">
  <div class="btn">
    <p>Peep the code</p>
  </div>
</a>

<p>Web application that allows people to post pitches that they want feedback on. Alternate title: "Putting yourself out there to fail miserably in front of friends, families, and strangers."</p>

<p>Position: Full Stack Developer</p>

<img class= "content-full-development" ng-src="{{pitchstart.project.images[0].full[1]}}"/>
<img class= "content-full-development" ng-src="{{pitchstart.project.images[0].full[2]}}"/>

<footer id="sidebar">
  <p>Technologies Used:</p>
  <p>Javascript, Ruby on Rails, HTML, CSS, Bootstrap, JQuery, AJAX, JQuery UI, PostgreSQL, YouTube API, Google Oauth2, Jasmine, Rspec</p>
</footer>
