
<div id="gallery-container" ng-controller="ContentController as content" ng-show="page===1">

  <div id="gallery" ng-repeat="project in content.projects">
    <img class = "content-thumbs" ng-src="{{project.images[0].thumb}}"/>
  </div>

</div>